<a href="https://colab.research.google.com/github/allanacardoso/introducao_analise_de_dados/blob/master/An%C3%A1lise_de_dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print('Olá Mundo')

Olá Mundo

In [2]:
frase = 'Python para análise de dados'

In [3]:
frase.replace('Python', 'Frases')

'Frases para análise de dados'

In [4]:
frase.capitalize()

'Python para análise de dados'

In [5]:
frase.upper()

'PYTHON PARA ANÁLISE DE DADOS'

In [6]:
frase.capitalize

In [7]:
frase.capitalize()

'Python para análise de dados'

# **Estrutura de dados**

In [8]:
#Listas
animais = [1,2,3]
animais

[1, 2, 3]

In [9]:
animais = ['cachorro', 'gato', 12345, 6.5]
animais

['cachorro', 'gato', 12345, 6.5]

In [10]:
animais.extend(['leão', 1616])
animais

['cachorro', 'gato', 12345, 6.5, 'leão', 1616]

# **Dicionários**

In [13]:
#Para criar um dicionário utilizamos as {}
dc = {'Maçã': 15, 'Banana': 10,'Laranja': 15, 'Uva': 5}

In [14]:
dc['Maçã']

15

In [15]:
dc['Maçã'] = 25

In [16]:
dc

{'Banana': 10, 'Laranja': 15, 'Maçã': 25, 'Uva': 5}

In [17]:
#Retornando as chaves do dicionário
dc.keys()

dict_keys(['Maçã', 'Banana', 'Laranja', 'Uva'])

In [19]:
dc.values()

dict_values([25, 10, 15, 5])

# **Tipos de dados**

In [20]:
10

10

In [21]:
type(10)

int

In [22]:
type(10.5)

float

In [23]:
type('Python')

str

In [24]:
type('10')

str

In [25]:
a = 10

In [27]:
type(a)

int

In [28]:
float(a)

10.0

In [29]:
str(a)

'10'

# **Estruturas Condicionais**
tabela verdade: https://www.stoodi.com.br/blog/matematica/tabela-verdade-o-que-e/

In [31]:
#Instrução IF/ELSE
if 10>20:
  print('Verdadeiro')
else:
    print('Falso')

Falso

In [34]:
nome = 'Allana'
if 10 > 20 or nome == 'Allana': #Basta que uma das condições seja verdadeira, para que seja verdadeira a condição or
  print('Olá Allana, seja bem-vinda')
else:
    print('Você não é Allana')

Olá Allana, seja bem-vinda

In [35]:
if 10 > 20 and nome == 'Allana': #As duas condições devem ser verdadeiras
  print('Olá Allana, seja bem-vinda')
else:
    print('Você não é Allana')

Você não é Allana

In [36]:
#A instrução ELIF é acionada caso a instrução IF seja falsa
#A instrução ELIF é uma instrução do tipo senão se
valor = 150

In [38]:
#Entendendo a instrução ELIF
if valor > 200:                               #se o valor for maior que 200:
  print('Valor maior que 200')
elif valor > 50:                              #senão, se for maior que 50, faça...
  print('Ok, valor é maior que 50')
elif valor > 40:                              #senão, se for maior que 40, faça...
  print('Outra mensagem')
else:
  print('Operação inválida. Valores devem ser maiores que 50')

Ok, valor é maior que 50

In [41]:
#Os loops são usados no python da seguinte forma (sintaxe)
#for i in colecao:
  #execute uma ou mais ações >

#A coleção pode ser uma lista de números
#Ou ainda uma lista de strings, ou um arquivo, uma tupla, um dicionário e assim por diante

In [43]:
#Exemplo de for com lista
for i in [1,2,3,4,5]:
  print('Valor: {}'.format(i) )
  print(i+2)

Valor: 1
3
Valor: 2
4
Valor: 3
5
Valor: 4
6
Valor: 5
7

In [44]:
#Exemplo de loop com string
for caracter in 'Analisando dados com Python':
  print(caracter)

A
n
a
l
i
s
a
n
d
o

d
a
d
o
s

c
o
m

P
y
t
h
o
n

In [45]:
#Exemplo de loop com uma lista de string
automoveis = ['Ferrari', 'Fusca', 'BMW']
for carro in automoveis:
  print(carro)

Ferrari
Fusca
BMW

In [47]:
#INstrução break é usada para encerrar um loop
for letra in 'Python':
  if letra == 'o':
    break #loop interrompido
  print('Letra', letra)

print('\n\nContinuando o programa...')

Letra P
Letra y
Letra t
Letra h


Continuando o programa...

# **Trabalhando com planilhas do Excel**

In [48]:
from google.colab import files
arquivo = files.upload()

## **Trabalhando com a biblioteca pandas**

In [49]:
#importando a biblioteca pandas
import pandas as pd

In [85]:
#leitura dos arquivos
df1 = pd.read_excel('Aracaju.xlsx')
df2 = pd.read_excel('Fortaleza.xlsx')
df3 = pd.read_excel('Natal.xlsx')
df4 = pd.read_excel('Recife.xlsx')
df5 = pd.read_excel('Salvador.xlsx')

In [ ]:
#visualizando as 10 primeiras linhas

In [86]:
#visualizando as 10 primeiras linhas do df5
df5.head(10)

     Cidade       Data  Vendas  LojaID  Qtde
0  Salvador 2018-01-01   31.06    1037     3
1  Salvador 2018-01-01   19.02    1034     3
2  Salvador 2019-02-10  173.59    1035     3
3  Salvador 2019-02-10  176.34    1037     3
4  Salvador 2019-02-14   19.47    1037     3
5  Salvador 2019-01-01  179.20    1037     3
6  Salvador 2019-01-01   36.30    1034     2
7  Salvador 2019-02-11    6.13    1034     2
8  Salvador 2019-02-11    4.96    1036     2
9  Salvador 2019-01-01  127.92    1036     1

In [92]:
df = pd.concat([df1, df2, df3, df4, df5])

#Visualizando as 5 primeiras linhas
df.head()

    Cidade       Data  Vendas  LojaID  Qtde
0  Aracaju 2018-01-01  142.00    1520     1
1  Aracaju 2018-01-01   14.21    1522     6
2  Aracaju 2018-01-01   71.55    1520     1
3  Aracaju 2018-01-01    3.01    1521     7
4  Aracaju 2018-01-01   24.51    1522     8

In [93]:
#Visualizando as 5 últimas linhas
df.tail()

       Cidade       Data  Vendas  LojaID  Qtde
235  Salvador 2019-01-03   41.84    1034     1
236  Salvador 2019-01-03  126.29    1035     3
237  Salvador 2019-01-03   38.06    1036     3
238  Salvador 2019-01-03  139.64    1035     1
239  Salvador 2019-01-03  161.41    1037     3

In [94]:
#Visualizando os valores únicos da coluna cidades
df['Cidade'].unique()

array(['Aracaju', 'Fortaleza', 'Natal', 'Recife', 'Salvador'],
      dtype=object)

In [95]:
df.shape

(894, 5)

In [96]:
#Amostra de linhas pra saber o conteúdo do documento. Ele pega pelo índice dos aquivos de forma aleatória
df.sample(10)

        Cidade       Data  Vendas  LojaID  Qtde
43      Recife 2019-01-01   22.29     983     7
71      Recife 2019-01-01  138.69     983     3
96     Aracaju 2018-01-01   85.92    1521     2
118      Natal 2019-01-02   92.21    1035     2
167      Natal 2019-01-02   36.42    1037     1
58      Recife 2019-01-01    8.02     983     2
107      Natal 2019-01-02   14.70    1035     1
221      Natal 2019-01-02  142.23    1035     2
30   Fortaleza 2019-01-01   39.13    1005     6
90     Aracaju 2018-01-01   16.27    1522     1

In [66]:
df = df.reset_index()
df

     level_0  index    Cidade       Data  Vendas  LojaID  Qtde
0          0      0   Aracaju 2018-01-01  142.00    1520     1
1          1      1   Aracaju 2018-01-01   14.21    1522     6
2          2      2   Aracaju 2018-01-01   71.55    1520     1
3          3      3   Aracaju 2018-01-01    3.01    1521     7
4          4      4   Aracaju 2018-01-01   24.51    1522     8
..       ...    ...       ...        ...     ...     ...   ...
779      779    235  Salvador 2019-01-03   41.84    1034     1
780      780    236  Salvador 2019-01-03  126.29    1035     3
781      781    237  Salvador 2019-01-03   38.06    1036     3
782      782    238  Salvador 2019-01-03  139.64    1035     1
783      783    239  Salvador 2019-01-03  161.41    1037     3

[784 rows x 7 columns]

In [67]:
#Verificando o tipo de dado de cada coluna
df.dtypes

level_0             int64
index               int64
Cidade             object
Data       datetime64[ns]
Vendas            float64
LojaID              int64
Qtde                int64
dtype: object

In [68]:
#Alterando o tipo de dado da coluna LojaId
df['LojaID'] = df['LojaID'].astype('object')

## **Verificando valores nulos**

In [72]:
#Consultando linhas com valores faltantes
df.isnull().sum()

level_0    0
index      0
Cidade     0
Data       0
Vendas     0
LojaID     0
Qtde       0
dtype: int64

In [ ]:
#Substituindo os valores nulos pela média
#Exemplo
#df['Idade'].fillna(df['Idade'].mean(), inplace=True)

In [ ]:
#Apagando as linhas com valores nulos
#df.dropna(inplace=True)

In [ ]:
#Apagando as linhas com valores nulos com base em apenas uma coluna
#df.dropna(subset=['Vendas'], inplace=True)

In [ ]:
​#Removendo linhas que estejam com valores faltantes em todas as colunas 
#df.dropna(how="all",inplace=True)

In [73]:
df['Vendas'].mean()

76.4032780612244

In [74]:
df.Vendas.mean()     #se a coluna tiver espaço entra os nomes, não é possível usar essa forma

76.4032780612244

In [100]:
df.head()

    Cidade       Data  Vendas  LojaID  Qtde
0  Aracaju 2018-01-01  142.00    1520     1
1  Aracaju 2018-01-01   14.21    1522     6
2  Aracaju 2018-01-01   71.55    1520     1
3  Aracaju 2018-01-01    3.01    1521     7
4  Aracaju 2018-01-01   24.51    1522     8

In [101]:
#Criando colunas novas
df['Receita'] = df['Vendas'].mul(df['Qtde'])

In [102]:
df['Receita/Vendas'] = df['Receita'] / df['Vendas']

In [103]:
#Retornando a maior receita
df['Receita'].max()

3544.0

In [104]:
#Retornando a menor receita
df['Receita'].min()

3.34

In [87]:
#Top 3 receita 
df.nlargest(3,'Receita')

     level_0  index   Cidade       Data  ...  LojaID Qtde  Receita  Receita/Vendas
448      448     46   Recife 2019-01-01  ...     981    8  1913.36             8.0
41        41     41  Aracaju 2018-01-01  ...    1520    8  1837.12             8.0
313      313     41  Aracaju 2018-01-01  ...    1520    8  1837.12             8.0

[3 rows x 9 columns]

In [105]:
#retornando as 3 piores receitas
df.nsmallest(3, 'Receita')

      Cidade       Data  Vendas  LojaID  Qtde  Receita  Receita/Vendas
118  Aracaju 2018-01-01    3.34    1522     1     3.34             1.0
65    Recife 2019-01-01    4.01     981     1     4.01             1.0
92     Natal 2019-01-02    4.57    1035     1     4.57             1.0

In [106]:
#Agrupamento por cidade
df.groupby('Cidade')['Receita'].mean()

Cidade
Aracaju      374.986538
Fortaleza    266.999789
Natal        696.781333
Recife       365.750070
Salvador     169.153042
Name: Receita, dtype: float64

In [107]:
#Soma das receitas por cidade
df.groupby('Cidade')['Receita'].sum()

Cidade
Aracaju       48748.25
Fortaleza     37913.97
Natal        167227.52
Recife        51936.51
Salvador      40596.73
Name: Receita, dtype: float64

In [108]:
#Ordenando o conjunto de dados
df.sort_values('Receita', ascending=False).head(10)

   Cidade       Data  Vendas  LojaID  Qtde  Receita  Receita/Vendas
7   Natal 2019-03-18   886.0     853     4   3544.0             4.0
55  Natal 2019-01-08   859.0     854     4   3436.0             4.0
51  Natal 2018-01-21   859.0     852     4   3436.0             4.0
30  Natal 2018-10-02   856.0     853     4   3424.0             4.0
41  Natal 2018-05-20   835.0     852     4   3340.0             4.0
38  Natal 2018-02-25   828.0     852     4   3312.0             4.0
10  Natal 2018-10-27   828.0     852     4   3312.0             4.0
69  Natal 2019-03-24   817.0     852     4   3268.0             4.0
62  Natal 2018-02-10   793.0     854     4   3172.0             4.0
52  Natal 2018-04-27   778.0     854     4   3112.0             4.0